* {
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

.navbar {
  position: relative;
  width: 100%;
  height: 48px;
  line-height: 48px;
  z-index: 2; }
  .navbar ul {
    padding: 0; }
  .navbar ul, .navbar li {
    list-style: none;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px; }
  .navbar .btn {
    text-decoration: none;
    font-size: 100%;
    display: inline-block;
    color: white; }

.navbar-blue {
  background-color: #3498db;
  color: white; }
  .navbar-blue .navbtn {
    color: white; }

.side-nav {
  width: 25%;
  height: 100vh;
  border-right-color: lightgray;
  border-right-width: 1px;
  border-right-style: solid;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; }

.left {
  float: left; }

.right {
  float: right; }

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 1rem;
  position: relative; }
  .card .options {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px; }
    .card .options ul, .card .options li {
      list-style: none;
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px; }
      .card .options ul .btn, .card .options li .btn {
        text-decoration: none;
        font-size: 100%;
        display: inline-block;
        height: 100%;
        color: lightgray;
        background-color: white;
        outline: none;
        border: none; }
      .card .options ul .btn-blue, .card .options li .btn-blue {
        color: #3498db; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.card-size {
  width: 360px;
  min-height: 360px;
  padding-bottom: 48px;
  margin: auto; }

.card-size-adaptive {
  min-width: 360px;
  min-height: 360px;
  padding-bottom: 48px; }

.card-label {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 100%; }
  .card-label p {
    padding-left: 8px;
    padding-right: 8px; }

.card-label-blue {
  background-color: #3498db;
  color: white; }

.content {
  width: 100%;
  height: 100%; }

.card-content {
  padding-top: 24px !important;
  width: 80%; }

.content-right {
  float: right;
  width: 75%; }

.content-centered {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.card-flow {
  padding-top: 24px;
  width: 80%;
  margin: auto; }
  .card-flow .card {
    margin-bottom: 24px; }

.card-flow-centered {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }

.text-padding-full {
  padding: 8px; }

.form {
  width: 100%; }
  .form ul {
    list-style: none; }
    .form ul li {
      margin-bottom: 12px; }
      .form ul li p {
        color: gray;
        font-size: 90%; }
      .form ul li input[type='text'], .form ul li input[type='email'], .form ul li input[type='password'] {
        outline: none;
        font-size: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
        border-bottom-width: 1px;
        width: 100%; }

.btn:hover {
  cursor: pointer; }

.code {
  position: relative;
  background-color: lightgray;
  color: gray;
  width: 100%;
  overflow: scroll; }

/*# sourceMappingURL=style.css.map */
