<!DOCTYPE HTML>
<html>
    <head>
        <title> Perselia - {% block title %}{% endblock %} </title>
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style/style.css') }}'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class='navbar navbar-blue'>
            <ul class='left'>
                <li><a class='btn' href='/'>Perselia</a></li>
            </ul>
            <ul class='right'>
                <li><a class='btn' href='/login'>Login</a></li>
                <li><a class='btn' href='/register'>Register</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>