{% extends 'layout.html' %}
{% from "__formhelpers.html" import render_field %}
{% block title %} Login {% endblock %}


{% block body %}
    <div class='content content-centered'>
        <div class='card-flow'>
            <div class="card card-4 card-size">
                <nav class='card-label card-label-blue'>
                    <p>
                       Panel
                    </p>
                </nav>
                <div class='card-content text-padding-full'>
                    Welcome to the panel
                </div>
            </div>
        </div>
    </div>
{% endblock %}