{% extends 'layout.html' %}
{% from "__formhelpers.html" import render_field %}
{% block title %} Register {% endblock %}

{% block head %}
    {{ super() }}
    <!--<script type='text/javascript' src='{{ url_for('static', filename='js/register-form.js') }}'></script>-->
{% endblock %}

{% block body %}
    <div class='content content-centered'>
        <div class='card-flow'>
            <div class="card card-4 card-size">
                <nav class='card-label card-label-blue'>
                    <p>
                       Register
                    </p>
                </nav>
                <div class='card-content text-padding-full'>
                    <form method='post' class='form'>
                        <ul>
                            <li>
                                {{ render_field(form.firstname) }}
                            </li>
                            <li>
                                {{ render_field(form.lastname) }}
                            </li>
                            <li>
                                {{ render_field(form.email) }}
                            </li>
                            <li>
                                {{ render_field(form.avatar_url) }}
                            </li>
                            <li>
                                {{ render_field(form.password) }}
                            </li>
                            <li>
                                {{ render_field(form.password_confirm) }}
                            </li>
                            <li>
                                <p id='statusmessage'>
                                    {% if error is not none %}
                                        {% for err in error %}
                                            {{ err }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                        <nav class='options'>
                            <ul class='right'>
                                <li>
                                    <button class='btn btn-blue' name='submit' onclick='return register(this.form);'>SUBMIT</button>
                                </li>
                            </ul>
                        </nav>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}